/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

@font-face {
    font-family: "garamond";
    src: url("./assets/garamond_[allfont.ru].ttf");
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
    padding: 10px;
    font-family: garamond;
}

.logo {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
    width: 40px;
}

.print {
    display: flex;
    align-items: center;
}

.print > button {
    padding: 5px 20px;
}

.main-body {
    height: calc(100vh - 60px);
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.editor {
    width: 100%;;
    height: calc(100vh - 60px);
}

.display-pdf {
    background-color: rgb(220, 255, 220);
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
}

.a4-size {
    background-color: white;
    border: 0.5px solid black;
    padding: 20px;
}

.resume .fullname {
    font-size: 2rem;
    font-weight: 600;
}  

.resume .info {
    display: flex;
    gap: 10px;
    font-size: 1rem;
}